body {
    text-Align: center;
    background-color: rgb(116, 160, 116);
}

h1{
    color: rgb(94, 2, 94)
}

img {
    /* margin-top: 2px; */
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 5px rgb(87, 45, 45)
}

.Github{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(43, 37, 43);
    font-weight: bold;
}



article {
    /* text-indent: 30px; */
    text-align: justify;
    padding: 17px;
    border: solid 5px rgba(71, 84, 143, 0.918);
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgba(129, 169, 172, 0.918);
    font-size: 18px;
}

article b {
    display: block;
    text-align: center;
    font-size: 19px
}



form {
    /* border-radius: 50%; */
    border: solid 5px rgb(160, 79, 85);
    text-align: left;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(201, 160, 84);
    font-size: large;
    
}

form h2 {
    text-align: center;
}

#submitButton {
    text-align: center;
}
